body {
	background-color: white;
}

.bar {
	/*fill: white;*/
	display: inline-block;
	/*width: 20px;//*/
	margin-right: 2px;
}

.axis path, .axis line {
	strokes: #000
	stroke-width: 1px
	shape-rendering: crispEdges;
}